//Кольори
$main-accent: #F0B90B;
$main-base: #0C092E;
$main-white: #FFF;
$dark-grey: #343434;
$light-grey: #FBFBFB;
$main-base-with-opacity: rgba(255, 255, 255, 0.055);

//Шрифти
$font: 'Roboto', 'Arial', sans-serif;
$font-jura: "Jura", "Helvetica Neue", Arial, sans-serif;

//Відступи
$margin-small: 16px;
$margin-medium: 24px;
$margin-large: 32px;
$margin-xl: 152px;